/* Overlay sombre */
.detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Carte détaillée */
.detail-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  position: relative;
  animation: popup 0.25s ease-out;
}

/* Animation d’apparition */
@keyframes popup {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* Bouton X */
.detail-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
}

/* Image */
.detail-img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

/* Type */
.detail-type {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 10px;
}
